@import "../../../scss/fonts";

table {
  & tr {
    height: 40px;
  }

  & th {
    border-bottom: 1px solid var(--text-color-secondary);
    color: var(--text-color-secondary);
    font-family: $font-mono;
    font-weight: normal;
    text-align: left;

    @include font-size(14px);
  }

  td,
  th {
    padding: 8px 0;

    code {
      word-break: break-all;
      white-space: normal;
    }
  }

  th:nth-of-type(1),
  th:nth-of-type(4),
  th:nth-of-type(5) {
    min-width: 180px;
  }

  th:nth-of-type(2),
  th:nth-of-type(3) {
    min-width: 110px;
  }
}
