@use "../../scss/variables" as *;

.nav-link {
  display: flex;
  align-items: center;
  color: var(--text-color-secondary);
  text-decoration: none;

  &.active-path {
      color: var(--text-color-primary);

      &:hover {
          color: var(--text-color-secondary);
      }
  }

  span {
      margin-right: 12px;

      &.last-item {
          margin-right: 0;
      }
  }

  &:hover {
      color: var(--text-color-primary);
  }

  &:focus {
      border: 0;
  }

  &.disabled {
      color: var(--text-color-secondary);
      pointer-events: none;
      opacity: 0.5;
  }
}
