@use "../../scss/variables" as *;
@use "../../scss/media-queries" as *;

.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;

    @include tablet-down {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .nav-link {
        display: flex;
        align-items: center;
        color: var(--text-color-secondary);
        text-decoration: none;
        word-break: break-all;
        margin-bottom: 10px;

        &.active-path {
            color: var(--text-color-primary);

            &:hover {
                color: var(--text-color-secondary);
            }
        }

        span {
            max-width: 200px;
            margin-right: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &.last-item {
                margin-right: 0;
            }
        }

        &:hover {
            color: var(--text-color-primary);
        }

        &:focus {
            border: 0;
        }

        &.disabled {
            opacity: 0.5;
            color: var(--text-color-secondary);
            pointer-events: none;
        }
    }
}
