@use "../../scss/fonts" as *;
@use "../../scss/media-queries" as *;
@use "../../scss/variables" as *;

.nav-panel {
    display: flex;
    position:fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    height: 100%;
    padding-top: 22px;
    overflow: auto;
    border-right: 1px solid var(--panel-border);
    background-color: var(--panel-background);


    a {
        &:focus {
            border: 0;
            outline: none;
        }
    }

    .logo {
        width: 36px;
        height: 36px;

        @include tablet-down {
            width: 28px;
            height: 28px;
        }
    }

    .nav-panel-middle {
        display: flex;
        flex-direction: column;
        margin: $spacing-large 0;
    }

    .nav-panel-end {
        display: flex;
        flex-direction: column;
        margin: $spacing-large 0;
    }

    &.full-width {
        width: 100%;

        .nav-panel-button {
            flex-direction: row;

            .nav-panel-button-label {
                margin-top: 0;
                margin-left: $spacing-small;
            }

            + .nav-panel-button {
                margin-top: $spacing-small;
            }
        }
    }
}
