.nav-link {
  display: flex;
  align-items: center;
  color: var(--text-color-primary);
  text-decoration: none;

  span {
    margin-left: 12px;
  }

  &:hover {
    color: var(--text-color-secondary);
  }

  &:focus {
    border: 0;
  }

  &.disabled {
    color: var(--text-color-secondary);
    pointer-events: none;
    opacity: 0.5;
  }
}
