.back-link {
  display: flex;
  align-items: center;
  color: var(--text-color-primary);
  text-decoration: none;

  span {
    margin-left: 12px;
  }

  &:hover {
    color: var(--text-color-secondary);
  }

  &:focus {
    border: 0;
  }
}
