@use "../../scss/card" as *;
@use "../../scss/fonts" as *;
@use "../../scss/media-queries" as *;
@use "../../scss/variables" as *;

.table-wrapper {
  max-width: $content-width-desktop;
  overflow: hidden;
  overflow-x: auto;

  @include tablet-down {
    display: block;
    max-width: calc(100vw - 90px);

    @include font-size(13px);
  }

  table {
    width: 100%;
  }

  .truncate-item-wrapper {
    display: flex;
    align-items: center;

    .explorer-link {
      color: var(--text-primary);
      text-decoration: none;

      &:hover {
        color: var(--accent-primary);
      }
    }

    .tooltip-button {
      display: flex;
      align-items: center;
      margin-left: 10px;
      border: none;
      background-color: transparent;
      cursor: pointer;

      svg {
        path {
          stroke: var(--tooltip-background);
        }
      }

      &:hover {
        svg {
          path {
            stroke: var(--accent-primary);
          }
        }
      }
    }
  }
}
