@use "../../scss/card" as *;
@use "../../scss/fonts" as *;
@use "../../scss/media-queries" as *;
@use "../../scss/variables" as *;

.table-wrapper {
  max-width: $content-width-desktop;
  overflow: hidden;
  overflow-x: auto;

  @include tablet-down {
    display: block;
    max-width: calc(100vw - 90px);

    @include font-size(13px);
  }

  table {
    width: 100%;
  }

  .explorer-link {
    color: var(--text-primary);
    text-decoration: none;

    &:hover {
      color: var(--accent-primary);
    }
  }
}
