.blindmode {
  display: flex;
  flex-direction: row;
  align-items: center;

  .blindmode-input {
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px;
  }

  .blindmode-input-button {
    display: flex;
    align-items: center;
    width: 45px;
    height: 40px;
    padding: 0 10px;
    transition: all 0.2s ease-in;
    border: 1px solid var(--text-color-secondary);
    border-left-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
    background: none;
    color: var(--text-color-primary);
    font-size: 14px;
    cursor: pointer;

    &:hover {
      color: var(--accent-primary);
    }
  }
}
