@use "../../scss/fonts" as *;
@use "../../scss/media-queries" as *;
@use "../../scss/variables" as *;

.peers-panel-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-height: 90px;
    padding: $spacing-large;

    &.detailed {
        padding: $spacing-large;

        .peer-id {
            font-weight: 700;
        }
    }

    &.summary {
        padding: $spacing-small;
        border: none;
        border-radius: $spacing-small;
        background-color: var(--panel-background-highlight);
    }

    .peer-health {
        width: 16px;
        height: 16px;
        margin-right: $spacing-small;
    }

    .peer-data {
        @include font-size(14px);

        @media (max-width: 1340px) {
            @include font-size(12px);
        }

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: var(--text-color-primary);
        font-family: $font-sans;
        font-weight: 500;

        > p {
            margin-top: $spacing-small;
            font-weight: 400;
        }

        .peer-id {
            @include font-size(14px);

            color: var(--text-color-primary);
            word-break: break-all;
            overflow-wrap: anywhere;
        }
    }

    .peer-actions {
        margin-left: auto;

        > button:not(:first-child) {
            margin-top: $spacing-tiny;
        }
    }
}
