@import "../../scss/fonts";
@import "../../scss/media-queries";
@import "../../scss/variables";

// Detailed peer.

.peers-panel--item {
    width: 100%;
    margin-top: $spacing-small;
    overflow: hidden;

    @media (max-width: 1340px) {
        width: 100%;
    }

    .card {
        padding: $spacing-large;

        .peer-health {
            width: 16px;
            height: 16px;
            margin-right: $spacing-small;
        }

        .peer-data {
            @include font-size(14px);

            @media (max-width: 1340px) {
                @include font-size(12px);
            }

            display: flex;
            flex-direction: column;
            color: var(--text-color-primary);
            font-family: $font-sans;
            font-weight: 500;
        }

        .graph {
            margin-top: 24px;
        }

        .peer-actions {
            justify-content: space-between;
            margin-top: $spacing-small;

            @media (max-width: 720px) {
                flex-direction: column;

                .card--action {
                    justify-content: center;
                }

                p {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}

// Simplified peer.

.peers-summary--item {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 90px;
    margin-bottom: $spacing-small;
    padding: $spacing-small;
    overflow: hidden;
    border-radius: $spacing-small;
    background-color: var(--panel-background-highlight);
    width: 100%;

    &:focus {
        border: 0;
    }

    .peer-health-icon {
        width: 16px;
    }

    .peer-id {
        @include font-size(14px);

        margin-left: $spacing-small;
        color: var(--text-color-primary);
        font-family: $font-sans;
        font-weight: 500;
        word-break: break-all;
    }
}
