@use "../../scss/card" as *;
@use "../../scss/fonts" as *;
@use "../../scss/media-queries" as *;
@use "../../scss/variables" as *;

.table-wrapper {
  max-width: $content-width-desktop;
  overflow: hidden;
  overflow-x: auto;

  @include tablet-down {
    display: block;
    max-width: calc(100vw - 90px);
  }

  table {
    width: 100%;
  }
}
