@use "../../scss/fonts" as *;
@use "../../scss/media-queries" as *;

.tooltip {
    display: flex;
    position: relative;

    .tooltip-wrapper {
        visibility: hidden;
        position: absolute;
        z-index: 1;
        top: 100%;
        right: 0;
        width: 300px;
        margin-top: 10px;
        margin-left: 20px;
        padding: 12px;
        transition: all 250ms;
        border-radius: 0.25rem;
        opacity: 0;
        background: var(--tooltip-background);
        color: var(--tooltip-text);
        font-family: $font-sans;
        text-align: center;
        word-break: keep-all;
        white-space: nowrap;
        white-space: break-spaces;

        .tooltip-arrow {
            position: absolute;
            top: -6px;
            right: 150px;
            width: 12px;
            height: 12px;
            transform: rotate(45deg);
            background: var(--tooltip-background);
        }

        @include desktop-down {
            display: none;
        }

        @include tablet-down {
            display: none;
        }

        @include phone-down {
            display: none;
        }
    }

    .tooltip-children {
        font-weight: 600;
        white-space: nowrap;
        cursor: pointer;

        @include desktop-down {
            cursor: text;
        }

        @include tablet-down {
            cursor: text;
        }

        @include phone-down {
            cursor: text;
        }
    }
}
