@use "../../scss/fonts" as *;
@use "../../scss/media-queries" as *;

.tooltip {
    display: flex;
    align-items: center;

    .tooltip-wrapper {
        position: relative;
        transition: opacity 0.2s ease-in-out;
        opacity: 0;

        &.show {
            opacity: 1;
        }

        .tooltip-message {
            display: flex;
            position: absolute;
            top: -12px;
            left: 0;
            padding: 4px;
            transform: translateY(-100%) ;
            border: 1px solid var(--tooltip-background);
            border-radius: 4px;
            background-color: var(--tooltip-background);
            color: var(--tooltip-text);
            font-size: 12px;
        }
    }
}
