@use "../../scss/card" as *;
@use "../../scss/fonts" as *;
@use "../../scss/media-queries" as *;
@use "../../scss/variables" as *;

.account {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 40px;
  font-family: $font-sans;

  @include desktop-down {
    padding: $spacing-small;
  }

  .account-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: $large-content-width-desktop;

    h2 {
      text-transform: uppercase;
    }
  }

  .content {
    display: inline-flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: $content-width-desktop;
    margin-top: $spacing-small;
    color: var(--text-color-primary);
  }
}
