@use "../../scss/card" as *;
@use "../../scss/fonts" as *;
@use "../../scss/media-queries" as *;
@use "../../scss/variables" as *;

.block {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 60px;
  font-family: $font-sans;

  @include desktop-down {
    padding: $spacing-small;
  }

  .block-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: $content-width-desktop;

    h2 {
      text-transform: uppercase;
    }
  }

  .card {
    margin-bottom: 16px;
  }

  .block-summary {
    padding: 16px;

    h4 {
      margin-bottom: 20px;
    }
  }

  .block-info-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .content {
    display: inline-flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: $content-width-desktop;
    margin-top: $spacing-small;
    color: var(--text-color-primary);

    .block-info-item {
      min-height: 90px;
      padding: $spacing-small;
      overflow: hidden;
      border-radius: $spacing-small;
      background-color: var(--panel-background-highlight);
    }

    span {
      &.value {
        word-break: break-all;
      }
    }
  }
}
