
@use "../../scss/fonts" as *;
@use "../../scss/media-queries" as *;
@use "../../scss/variables" as *;

.chain {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 60px;
  font-family: $font-sans;

  @include desktop-down {
    padding: $spacing-small;
  }

  .chain-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: $content-width-desktop;

    h2 {
      text-transform: uppercase;
    }
  }

  .card {
    margin-bottom: 16px;
  }

  .content {
    display: inline-flex;
    flex: 1;
    flex-flow: column wrap;
    max-width: $content-width-desktop;
    margin-top: $spacing-small;
    color: var(--text-color-primary);
    
    a {
      color: var(--accent-primary);
      border: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
