@use "../../scss/fonts" as *;
@use "../../scss/media-queries" as *;
@use "../../scss/variables" as *;

.edit-button {
  border: 0;
  outline: 0;
  background: none;
  color: var(--text-color-secondary);
  cursor: pointer;

  &:hover {
      color: var(--accent-primary);
  }
}

.access-nodes-list {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    
    input {
      margin-right: 6px;
    }
  }
}