@use "../../scss/fonts" as *;
@use "../../scss/media-queries" as *;
@use "../../scss/variables" as *;

.chains {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 60px;
  font-family: $font-sans;

  @include desktop-down {
    padding: $spacing-small;
  }

  .chains-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: $content-width-desktop;

    h2 {
      margin-bottom: 16px;
      text-transform: uppercase;
    }
  }

  .content {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    max-width: $content-width-desktop;
    color: var(--text-color-primary);

    @include desktop-down {
      flex-direction: column;
    }

    a {
      border: none;
    }
  }
}
