@use "../../scss/fonts" as *;
@use "../../scss/media-queries" as *;
@use "../../scss/variables" as *;

.access-nodes-list {
  display: flex;
  flex-direction: column;

  .access-nodes-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;

    &:hover {
      color: var(--text-color-secondary);
    }

    input {
     display: none;
    }

    label {
      flex: 1;
      word-break: break-all;
      cursor: pointer;

      &.checked {
        .tile-content {
          border: 1px solid var(--accent-primary);
          background: #108cff33;
        }
      }
    }
  }
}
