@import '../../scss/card';
@import '../../scss/fonts';
@import '../../scss/media-queries';

.configuration {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 60px;
  
  @include desktop-down {
    padding: $spacing-small;
  }

  .content {
    flex: 1;
    max-width: $content-width-desktop;

    & dl {
      display: flex;
      flex-wrap: wrap;
      color: var(--text-color-primary);
    }
    & dt {
      width: 33%;
      text-align: right;
      font-weight: bold;
    }
    & dd {
      width: 66%;
      margin-left: auto;
    }
  }
}
