@use "../../scss/fonts" as *;
@use "../../scss/media-queries" as *;
@use "../../scss/variables" as *;

.configuration {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 60px;

    @include desktop-down {
        padding: $spacing-small;
    }

    .content {
        flex: 1;
        max-width: $content-width-desktop;

        .wrapper {
            display: grid;
            grid-gap: 16px;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;

            @include desktop-down {
                grid-template-columns: 1fr;
            }
        }
    }
}
