@import "../../scss/card";
@import "../../scss/fonts";
@import "../../scss/media-queries";

.configuration {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 60px;

  @include desktop-down {
    padding: $spacing-small;
  }

  .content {
    flex: 1;
    max-width: $content-width-desktop;

    .wrapper {
      display: grid;
      grid-gap: 16px;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;

      @include desktop-down {
        grid-template-columns: 1fr;
      }

      .key {
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      .card {
        display: flex;
        flex-direction: column;

        .card-item {
          display: flex;
          align-items: flex-start;
          margin-bottom: 4px;
          color: var(--text-color-secondary);
          font-family: $font-mono;

          @include font-size(14px);

          span {
            margin-right: 10px;
          }

          p {
            &.value {
              color: var(--text-color-primary);
            }
          }
        }
      }
    }
  }
}
