@use "../../scss/fonts" as *;
@use "../../scss/media-queries" as *;
@use "../../scss/variables" as *;

.l1-main {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 60px 60px 60px 150px;
  font-family: $font-sans;
  
  @include tablet-down {
    padding: $spacing-small;
  }

  .l1-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: $content-width-desktop;

    h2 {
      margin-bottom: 16px;
      text-transform: uppercase;
      word-break: break-all;

      &.l1-details-title {
        margin-bottom: 0;
      }
    }
  }

  .content {
    display: inline-flex;
    flex: 1;
    flex-flow: row wrap;
    max-width: $content-width-desktop;
    color: var(--text-color-primary);

    @include desktop-down {
      flex-direction: column;
      max-width: 600px;
    }

    @include tablet-down {
      max-width: 100%;
    }

    .card {
      width: 100%;
      .summary {
        width: 100%;
        min-width: 350px;
      }
    }

    .first-card {
      margin-right: $spacing-small;
      margin-bottom: 0;

      @include desktop-down {
        margin-right: 0;
        margin-bottom: $spacing-small;
      }
    }

    .last-card {
      margin-top: $spacing-small;

      .chain-messages-table {
        th:nth-of-type(1),
        th:nth-of-type(4),
        th:nth-of-type(5) {
          min-width: 180px;
        }

        th:nth-of-type(2),
        th:nth-of-type(3) {
          min-width: 110px;
        }
      }
    }

    .l1-info-item {
      min-height: 90px;
      margin-bottom: $spacing-small;
      padding: $spacing-small;
      overflow: hidden;
      border-radius: $spacing-small;
      background-color: var(--panel-background-highlight);

      h4 { 
        margin-bottom:16px;
      }
    }
  }
}
