@use "../../scss/card" as *;
@use "../../scss/fonts" as *;
@use "../../scss/media-queries" as *;
@use "../../scss/variables" as *;

.main {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 60px;
  font-family: $font-sans;

  &.large {
    padding: 40px;
    .main-wrapper {
      max-width: $large-content-width-desktop;
    }
  }

  @include desktop-down {
    padding: $spacing-small;
  }

  .main-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: $content-width-desktop;

    h2 {
      text-transform: uppercase;
      word-break: break-all;
    }
  }

  .grid-wrapper {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    @include desktop-down {
        grid-template-columns: 1fr;
    }
  }

  .card {
    margin-bottom: 16px;
  }

  .summary {
    padding: 16px;

    .nav-link {
      text-decoration: none;
      color: var(--text-color-secondary);
      
      &:hover{
        color: var(--text-color-primary);
      }

      &.disabled {
        opacity: 0.4;
      }
    }

    h4 {
      margin-bottom: 20px;
    }
  }

  .info-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    @include tablet-down {
      grid-template-columns: 1fr;
    }
  }

  .content {
    display: inline-flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: $content-width-desktop;
    margin-top: $spacing-small;
    color: var(--text-color-primary);

    .main-info-item {
      min-height: 90px;
      padding: $spacing-small;
      overflow: hidden;
      border-radius: $spacing-small;
      background-color: var(--panel-background-highlight);
    }

    span {
      &.value {
        word-break: break-all;
      }
    }
  }
}

.add-button {
  @include font-size(14px);

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px;
  border: 1px solid var(--text-color-secondary);
  border-radius: $form-input-radius;
  outline: 0;
  background: var(--bar-color-2);
  color: var(--text-color-primary);
  font-family: $font-sans;
  cursor: pointer;

  &:hover {
    color: var(--accent-primary);
  }

  &:focus {
    box-shadow: 0 0 3px 0 var(--accent-primary);
  }
}
