
@use "../../scss/fonts" as *;
@use "../../scss/media-queries" as *;
@use "../../scss/variables" as *;

.users-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: $spacing-medium;
}