@use "../../../scss/fonts" as *;
@use "../../../scss/media-queries" as *;
@use "../../../scss/variables" as *;

.user-panel-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;

    &.card {
        padding: 20px;
    }

    .user-data {
        width: 100%;

        .info-actions-data {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .buttons-wrapper {
            display: flex;
            align-items: center;

            button {
                margin-left: 16px;

                @include phone-down {
                    margin-left: 8px;
                }

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    .permissions-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .permission-item {
            margin-right: 8px;
            color: var(--text-color-primary);
        }
    }
}
