@use "../../../scss/fonts" as *;
@use "../../../scss/media-queries" as *;
@use "../../../scss/variables" as *;

.dialog-click-shield {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    background: var(--dialog-shield);
    z-index: 1;
    height: 100%;
}

.dialog-container {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 1;
    height: 100%;
    

    .dialog {
        display: flex;
        flex-direction: column;
        width: 500px;
        min-height: 400px;
        max-height: 800px;
        padding: 20px;
        border: 1px solid var(--panel-border);
        border-radius: 10px;
        background: var(--panel-background);
        box-shadow: 5px 5px 5px 0 var(--drop-shadow);

        &.big {
            width: 700px;   
        }

        @include tablet-down {
            min-width: 80%;
            max-width: 90%;
        }

        .dialog-header {
            align-items: center;
            justify-content: space-between;
            margin-bottom: $spacing-small;
            padding-bottom: $spacing-small;
            border-bottom: 1px solid var(--panel-border);

            .dialog-header-close {
                color: var(--text-color-primary);
                font-size: 20px;
            }
        }

        .dialog-content {
            flex: 1;
            
            .dialog-content-label {
                @include font-size(10px);

                margin-top: $spacing-small;
                margin-bottom: calc($spacing-tiny / 2);
                color: var(--text-color-secondary);
                font-family: $font-sans;
                font-weight: 500;
                text-transform: uppercase;
            }

            .dialog-content-error {
                margin-top: $spacing-small;
                color: $danger;
                font-weight: 500;
            }
        }

        .dialog-footer {
            display: flex;
            justify-content: flex-end;

            button {
                @include font-size(14px);

                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: $spacing-medium;
                padding: 6px 12px;
                border: 1px solid var(--text-color-secondary);
                border-radius: $form-input-radius;
                outline: 0;
                background: none;
                color: var(--text-color-primary);
                font-family: $font-sans;
                cursor: pointer;

                + button {
                    margin-left: $spacing-small;
                }

                &:hover {
                    color: var(--accent-primary);
                }

                &:focus {
                    box-shadow: 0 0 3px 0 var(--accent-primary);
                }

                &:disabled {
                    opacity: 0.5;
                    pointer-events: none;
                }
            }
        }
    }
}
