@use './scss/layout' as *;
@use './scss/forms' as *;
@use './scss/standard' as *;
@use './scss/media-queries' as *;
@use './scss/themes/dark' as *;
@use './scss/themes/light' as *;
@use './scss/variables' as *;

html {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    background-color: var(--background);

    #root {
        display: flex;

        .success {
            color: $success;
        }

        .warning {
            color: $warning;
        }

        .danger {
            color: $danger;
        }

        .info {
            color: $info;
        }
    }
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: var(--scroll-background);
}

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--scroll-background);
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: var(--scroll-thumb);
}

.scrollbar-secondary,
.card {
    &::-webkit-scrollbar-track, 
    *::-webkit-scrollbar-track,
    &::-webkit-scrollbar,
    *::-webkit-scrollbar {
        background-color: var(--scroll-background-secondary);
    }

    &::-webkit-scrollbar-thumb,
    *::-webkit-scrollbar-thumb {
        background-color: var(--scroll-thumb-secondary);
    }
}
