@use "./fonts" as *;
@use "./variables" as *;
@use "./media-queries" as *;

h1 {
    @include font-size(24px);

    color: var(--text-color-primary);
    font-family: $font-sans;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
}

h2 {
    @include font-size(18px);

    color: var(--text-color-primary);
    font-family: $font-sans;
    font-weight: bold;
    text-decoration: none;

    @include tablet-down {
        font-size: 16px;
    }
}

h3 {
    @include font-size(14px);

    color: var(--text-color-primary);
    font-family: $font-sans;
    font-weight: bold;
    text-decoration: none;
}

h4 {
    @include font-size(10px);

    color: var(--text-color-secondary);
    font-family: $font-sans;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

p {
    @include font-size(14px);

    color: var(--text-color-primary);
    font-family: $font-sans;
}

a {
    outline: 0;
    text-decoration: none;
}

hr {
    height: 1px;
    margin: $spacing-medium 0;
    border: 0;
    background-color: var(--panel-border);
}

.secondary {
    color: var(--text-color-secondary);
}

.icon-button {
    padding: $spacing-tiny;
    border: 0;
    border-radius: $spacing-tiny;
    outline: 0;
    background: none;
    cursor: pointer;

    &:focus {
        box-shadow: 0 0 3px 0 var(--accent-primary);
    }
}

.word-break {
    word-break: break-word;
}

.word-break-all {
    word-break: break-all;
}

.hide-overflow {
    overflow: hidden;
}

.d-none {
    display: none !important;
}

.text-ellipsis {
    text-overflow: ellipsis;
}

table {
    border-collapse: collapse;

    & tr {
        height: 40px;
        border-bottom: 1px solid var(--panel-background-highlight);
    }

    & th {
        border-bottom: 1px solid var(--text-color-secondary);
        color: var(--text-color-secondary);
        font-family: $font-mono;
        font-weight: normal;
        text-align: left;
    }

    td,
    th {
        padding: 8px;

        code {
            word-break: break-all;
            white-space: break-spaces;
        }
    }
}

.nav-panel-button {
    @include font-size(12px);

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    outline: 0;
    background: none;
    color: var(--text-color-secondary);
    font-family: $font-sans;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

    &.nav-panel-button-selected {
        color: var(--accent-primary);
    }

    .nav-panel-button-label {
        margin-top: $spacing-tiny;
    }

    + .nav-panel-button {
        margin-top: $spacing-large;
    }
}

.cols-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  
    @include desktop-down {
      flex-direction: column;
    }
  
    .first-card {
        margin-right: $spacing-small;
        margin-bottom: 0;
  
        @include desktop-down {
          margin-right: 0;
          margin-bottom: $spacing-small;
        }
      }
  
  }

.action-button {
    padding: 6px;
    border: 0;
    outline: 0;
    background: none;
    color: var(--text-color-secondary);
    transition: color 0.1s ease-in;
   
    &:hover:not(.disabled) {
        cursor: pointer;
        color: var(--accent-primary);
    }

    &.action-button-danger:not(.disabled) {
        &:hover {
            color: transparentize($danger, 0.4);
      }
    }

    &.disabled {
        opacity: 0.4;
    }
  }
  